In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, QuantileRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [5]:
df = pd.read_csv(r"D:\flood prediction\imputated weather dataset.csv")
df.head()

,Station_Names,Year,Month,Max_Temp,Min_Temp,Rainfall,Relative_Humidity,Wind_Speed,Cloud_Coverage,Bright_Sunshine,Station_Number,X_COR,Y_COR,LATITUDE,LONGITUDE,ALT,Period,Flood?
0,Barisal,1949.0,1.0,29.4,12.3,0.0,68.0,0.453704,0.6,7.831915,41950.0,536809.8,510151.9,22.7,90.36,4.0,1949-01,0.0
1,Barisal,1949.0,2.0,33.9,15.2,9.0,63.0,0.659259,0.9,8.314894,41950.0,536809.8,510151.9,22.7,90.36,4.0,1949-02,0.0
2,Barisal,1949.0,3.0,36.7,20.2,8.0,59.0,1.085185,1.5,8.131915,41950.0,536809.8,510151.9,22.7,90.36,4.0,1949-03,0.0
3,Barisal,1949.0,4.0,33.9,23.9,140.0,71.0,1.772222,3.9,8.219149,41950.0,536809.8,510151.9,22.7,90.36,4.0,1949-04,0.0
4,Barisal,1949.0,5.0,35.6,25.0,217.0,76.0,1.703704,4.1,7.046809,41950.0,536809.8,510151.9,22.7,90.36,4.0,1949-05,0.0

In [13]:
df = df.loc[:,['Year','Month','Max_Temp','Min_Temp','Rainfall','Relative_Humidity','Wind_Speed','Cloud_Coverage','Bright_Sunshine']]

In [15]:
# define dependent and independent variable
x = df.drop('Rainfall', axis = 1)
y = df['Rainfall']

In [20]:
# train test split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25, random_state = 42)

In [21]:
x_train.shape

(19062, 8)

In [22]:
y_test.shape

(6354,)